/* Estilos personalizados SISTEMAS DE INTRANET*/

/*
===========================================*/
/*
label{
	margin-top:15px;
}*/

@media screen and (min-width: 768px) {

    #myModal .modal-dialog  {width:900px;}

}

#myModal .modal-dialog  {width:75%;}

.popover.error-popover {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    box-shadow: none;
    color: #B94A48;
    cursor: pointer;
    max-width: none;
    z-index: 1099;
}
.popover.error-popover .popover-content {
    padding: 6px 14px;
}
.popover.error-popover.right .arrow {
    border-right-color: #EED3D7;
}
.popover.error-popover.right .arrow:after {
    border-right-color: #F2DEDE;
}

.popover.error-popover.top .arrow {
    border-top-color: #EED3D7;
    left: 30px;
}
.popover.error-popover.top .arrow:after {
    border-top-color: #F2DEDE;
}

/* FIN POPOVER */

a {
	color:#98c93e;
}

a:focus, a:hover {
    text-decoration: none!important;
}

a:hover{
	text-decoration:none;
	color:#666;
	}


h1{
	margin:0 0 25px 0;
	text-align:left!important;
	font-size:1.7em;
}

.header-main{
background:#98c93e ;
color:#fff;
border-bottom:solid 2px #98c93e;
}

.sistema{
	font-size:18pt;
	margin:10px 0;
	color:#ccc;
	float:left;

}

.sistema a{
	color:#fff;


}


.user{
	height:30px;
	background:#999;
	}



.title-form{
	/*padding: 15px;*/
	padding:5px;
    margin-bottom: 20px;
    /*border-bottom:3px solid #f5802d;*/
    border-radius: 4px;
	/*background:#f7d3b3;*/
	font-size:14pt;
	color:#666;
	/*font-weight:bold;*/
	display:block;

}

.ba{
	background:#98c93e;
	color:#fff;
	display:block;
}

.ba2{
	background:#f8a972;
	color:#fff;
	display:block;
}

.panel-title ba{
	margin:0;
	background:#000;
}


#menu{
	text-decoration:none;
	min-height:500px;
	margin:-25px 0 0 -13px;
    background: rgb(245,245,245); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    /*margin: -25px 0 0 -70px;*/
	padding-top:10px;
	width:250px;


	/*border:solid 1px #ccc;*/

     }
#menu a{
	color:#999;

	padding:5px 18px;
	display:block;
	height:auto;
	 }

#menu a:hover{
	background:#ebebeb;
	border-left: solid 2px #ccc;
     }


ul{
    list-style:none;
	background:#fff;

  }
#menu li > ul li {
    padding: 0 15px;

            }
#menu li > ul li a:hover {
	background:#FFF;
            }


.error{
display:none;
margin:0;
}

.error{
display:none;
}

.error p{
color:#a00f00 !important;
font-family:'OpenSansBold', Helvetica, Arial, sans-serif !important;

}

.mostrar.error{
display:block;
}
.e1500{
	height:1500px;
     }

.e50{
	height:50px;
     }

.e10{
	height:10px;
     }

.form-group{
	padding-left:15px;
}


.breadcrumb{
	padding: 8px 1px;
	background:none;
	margin:0;
	border-top:solid 1px #d5d5d5;
    border-radius: 1px;
}

.breadcrumb a{
	color:#CCC;
}
.breadcrumb .active{
	color:#fff;
}

.breadcrumb > li + li:before {
  padding: 0 ;
}

.btn {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.btn-ba {
  /*color: #fff;*/
    color: #414042;
    background-color: #9ACA3C;
    font-weight: 600;
  /*border-color: #ccc;*/
}


.btn-ba:hover,
.btn-ba:focus,
.btn-ba:active,
.btn-ba.active,
.open .dropdown-toggle.btn-ba {
  color: #fff;
  background-color: #698A08;
  /*border-color: #adadad;*/
  border-color: #9BC12B;
}
.secondary {
  background-color: #999;
}

.secondary:hover,
.secondary:focus,
.secondary:active,
.secondary.active,
.open .dropdown-toggle.secondary {
  color: #fff;
  background-color: #777;
  border-color: #adadad;
}






.panel-ba {
  border-color: #98c93e;
}
.panel-ba > .panel-heading {
  color: #fff;
  background-color: #98c93e;
  border-color: #98c93e;
}
.panel-ba > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #98c93e;
}
.panel-ba > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #98c93e;
}

.glyphicon-user{
	margin-top:15px;
}




/*
==============================  Estilos comunes  =============================*/


/*font-family: 'OpenSansRegular';*/
/*font-family: 'OpenSansItalic';*/
/*font-family: 'OpenSansLight';*/
/*font-family: 'OpenSansLightItalic';*/
/*font-family: 'OpenSansBold';*/
/*font-family: 'OpenSansBoldItalic';*/
/*font-family: 'OpenSansCondensedBold';*/
/*font-family: 'OpenSansCondensedLight';*/
/*font-family: 'OpenSansCondensedLightItalic';*/

*{padding:0;
margin:0;
}

body{
    font-family: 'Lato', 'OpenSansRegular', Helvetica, Arial, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.no-pad{
padding:0;
}

.color-ba{
color:#98c93e;
}

.bg-ba{
background:#98c93e;
}

.label-ba{
background:#98c93e;
}

th{
font-weight:bold;
font-family: 'LatoRegular', 'OpenSansBold';
}

/*
====================================== INDEX REGISTER - LOGIN ========================================*/

#reg-log{
background: url('../img/bg-login-1.jpg') center no-repeat;
min-height:1000px;
}




/*
====================================== INDEX SESIÃ“N INICIADA ========================================*/

.header{
background: #3b3d45 /*#f0f0f0*/;
padding:0 20px;
border-bottom: 1px solid #ddd;
margin-right:0;
box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
}

.header h1{
padding:0;
margin:0;
text-indent:-999999px;
}

.header .logo{
float:left;
/*background: url('../img/BA-gris.png') no-repeat;*/
padding: 13px 0 0 25px;

}

.header .navbar{
border-bottom:0;
}

.header .navbar a{
color:#666666;
}

.sesion{
margin:10px;
float:right;
}

.sesion  .btn-default{
color: #777;
}

.sesion p, .sesion a, .sesion .btn{
font-size:0.9em;
}

.sesion .btn.btn-default.dropdown-toggle{
background:none;
border:none;
}

.btn-group.open .dropdown-toggle {
-webkit-box-shadow: none;
 box-shadow: none;
}

.btn-group:active .dropdown-toggle {
-webkit-box-shadow: none;
 box-shadow: none;
}

.sesion .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 14px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.sesion .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 15px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.col-xs-12 .sesion {
float:none;
margin:0 auto;
}

.mensajes .dropdown-menu{
left: -100px;
padding: 15px;
}

.mensajes .dropdown-menu>li>a{
text-align:left !important;
background:none !important;
color:#98c93e  !important;
padding:0 0 10px 0;
}

.perfil .dropdown-menu li{
text-align:center;
}

.cerrar-sesion{
width:140px;
margin:10px
}

#main{
margin-top:110px;
}

footer{
background: #FCFCFC;
padding: 10px;
border-top: 1px solid #eee;
text-align: center;
font-size: 0.8em;
}

.white {
    color: #fff;
}

.gris {
	background:#666;
}

/*@media (min-width: 320px) {
  #main {
    margin-top:175px;
  }

@media (min-width: 768px) {
  #main {
    margin-top:170px;
  }
}
@media (min-width: 992px) {
  #main {
    margin-top:115px;
  }


}
@media (min-width: 1200px) {
  #main {
    margin-top:110px;
  }
}*/

@media (max-width: 992px) {


   #menu{
	margin: 0;
	width:100%;
	min-height:100%;
	margin:-25px 0 0 0;
}
.navbar-fixed-top{
	position:absolute;
}

#main{
	margin-top:200px;
}
}

@media (max-width: 769px) {
	#main{
	margin-top:165px;
}

.sistema{
	font-size:12pt;
}
}

/*
===================== Errores ====================*/
.error{
display:none;
}

.error p{
color:#a00f00 !important;
font-weight:bold;
font-family:'OpenSansBold', Helvetica, Arial, sans-serif !important;
padding: 3px 0 15px;
font-size:0.8em;
}


.mostrar.error{
display:block;
}

/*
============================== P A G I N A C I Ã“ N ===========================*/

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: #fff;
background-color: #98c93e;
border-color: #98c93e;
cursor: default;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
color: #222;
background-color: #f5f5f5;
border-color: #ddd;}

.pagination>li>a, .pagination>li>span {
color: #98c93e;
font-weight:bold;
}


/* IE7 Only */
*:first-child+html #main {margin-top : 195px;}
*:first-child+html .col-md-9 {
    width: 66.66666667%;
  }

/* IE6 Only */
* html #main {margin-top : 195px;}

/** buttons **/

.btn-default {
        background-color: #cccccc;
        border-color: #c0c0c0;
        color: #000;
}

.btn-white,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-white:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.footer {
    color: #98c93e;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}


/*.bs-callout-ms { border-left-color:#f5802d!important;}*/


.bs-callout-ms-grey { border-left-color:#262626!important;}
.bs-callout-danger { border-left-color:#ce4844!important;}
.bs-callout-danger h4{color:#ce4844!important;}
.bs-callout-warning{border-left-color:#98c93e!important;}
.bs-callout-warning h4{color:#98c93e!important;}
.bs-callout-info{border-left-color:#1b809e!important;}
.bs-callout-info h4{color:#1b809e!important;}

.bs-callout-ms  {
    border-left-color:#98c93e !important;
    padding-top: 20px !important
    /*margin-top:-1px!important;
    margin-left:-25px!important;
    padding: 20px!important;*/
}

.bs-callout {
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
   /*margin: 20px 0;*/
    margin:0px ;
    /*padding: 0px 0px 20px 20px;*/
    padding: 45px 20px 20px;
}

.dropdown-header {
        color: #000 !important;
        font-weight: bold;
}

.btn-circle {
    border-radius: 39px;
    font-size: 15px;
    height: 30px;
    line-height: 0;
    padding: 0;
    text-align: center;
    width: 30px;
}

.pull-right .btn-ba {
        margin-right: 15px;
}



.green-shadow {
    text-shadow: 0px 1px 3px #5b7825;
}

legend {
    border-width: 0 0 2px!important;
    text-decoration-color: #88b437;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #88b437;
}


.table-header {
    margin-bottom: 3px!important;
}

.container-facturas {
    max-height: 350px;
    width: 102%;
    overflow-y: scroll;
}

.sell {
    width: 60px!important;
    padding: 0px!important;
}



 .form-control:focus {
     box-shadow: none !important;
     border-color: #6a8c2b !important;
 }
